{{ define "model/additional/interfaces" }}
  {{- if eq $.Name "Location" }}
    // IsMetadataNode implements interface for MetadataNode
    func ({{ $.Receiver }} {{ $.Name }}) IsMetadataNode() {}
  {{ end }}
{{ end }}

{{ define "interfaces" }}
{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

type MetadataNode interface {
	IsMetadataNode()
  IsEntity()
}

{{ end }}
